*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    line-height: 1.5;
}
body{
    font-family: 'Andale Mono' , sans-serif;
}
/* header */
.headerText h1{
    height: 190px;
    background-color: rgb(7, 7, 58);
    padding-top: 80px;
    text-align: center;
    color: snow;
    font-weight: bold;
    font-size: 34px;
}

/* second section */
.secondSection{
    height: 250px;
    background-color: cadetblue;
    background-image: linear-gradient(to bottom right , rgb(253, 102, 127) , snow);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.secondSection p,.container{
    margin: 0 auto;
    max-width: 550px;
}
.titleText p{
    color: snow;
    font-weight: 500;
    font-size: 25px;
    /* text-align: center; */
    padding-top: 70px;
}
.container{
    /* width: 50%; */
    /* margin-right: 400px; */
    margin-bottom: 4em;
    padding: 0 1em;
}
.pPragraph{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pPragraph p{
    font-size: 22px;
}
#simpleText{
    background-color: #d4d4df;
}
#simpleText p{
    padding: 15px;
    direction: ltr;
    font-size: 22px;
    font-weight: 500;
}
.textarea-bor{
    border: 10px solid grey;
    border-radius: 5px;
    height: 200%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textarea-bor textarea{
    flex: 1;
}
#textareaId{
    width: 100%;
    direction: ltr;
    font-size: 18px;
}

#myBtn{
    padding: 8px;
    border: 5px solid #23a6d5;
    width: 20%;
    border-radius: 5px;
    font-weight: bold;
}
#myBtn:hover{
    background-color: #23a6d5;
    color: snow
}
#kornometr{
    direction: ltr;
    position: relative;
    bottom: 45px;
    font-size: 22px;
}